html {
    font-family: Raleway, "Arial Black", Arial, sans-serif;
}
@font-face {
    font-family: "Raleway";
    src: url(raleway/Raleway-Regular.ttf);
}
body {
    background-color: white;
}
.blue
{
    color: #0065FC;
}
.navflex {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 50px;
    margin-top: 10px;
}
.navflex a {
    margin: 20px;
}
.fa-star {
    color: #0065FC;
}
.bg-grey {
    background-color:#F2F2F2;
}
.grey {
    color:#F2F2F2;
}
p span {
    font-weight: bold;
}
h1 h2 h3 {
    font-weight: bold;
}
.fa-info {
    color: #0065FC;
    border: 1px solid DEEBFF;
    border-radius: 20px;
    border-width: 10px;
    background-color: DEEBFF
}
.fa-money-bill-wave {
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    border-width: 10px;
    border-spacing: auto;
    background-color: #DEEBFF;
}
.fa-child {
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    border-width: 10px;
    background-color: #DEEBFF;
}
.fa-heart {
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    border-width: 10px;
    background-color: #DEEBFF;
}
.fa-dog {
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    border-width: 10px;
    background-color: #DEEBFF;
}
.propos {
    display: flex;
    flex-direction: column;
}
.assistance a {
    display: flex;
    flex-direction: column;
}
button {
    background-color:#0065FC;
    color: white;
}
.logo {
    width: 150px;
    height: auto;
}
.filtres {
    display: flex;
}
.filtres p {
    border: solid#DEEBFF;
    border-radius: 50pc;
    margin: 15px;
}
img {
    width: 300px;
    height: auto;
}
::placeholder {
    color: black;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    color: black;
}
.bloc_footer {
    margin-left: 0pc;
    margin-right: 200px;
}
.bloc_footer a {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
    background-color: red;
}
aside {
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    grid-area: aside;
}
footer {
    grid-area: footer;
}
.container {
    display: grid;
  grid-template-columns: auto
  grid-template-rows: auto
  grid-template-areas: 
    "header header header header"
    "main main . aside"
    "footer footer footer footer";
}
.flex {
    display: flex;
}
