html {
    font-family: Raleway, "Arial Black", Arial, sans-serif;
}
@font-face {
    font-family: "Raleway";
    src: url(raleway/Raleway-Black.ttf);
}
div
{
    color: #0065FC;
}
ul {
    list-style-type: none;
}


